@import "../mixins/_on-device.sass"
.grid-container
    display: grid
.flex-container
    display: flex

.grid-fill-row
    grid-column: 1 / -1

.grid-full-width
    justify-self: stretch

.text-center
    text-align: center

.text-left
    text-align: left

.text-right
    text-align: right

.circle-border
    border-radius: 100%

.flex-row
    flex-direction: row
.flex-column
    flex-direction: column


.read-more-link, .read-more-link:visited
    color: white
    float: right
    margin-right: 10%
    font-size: 1.1em

+on-device(mobile)
    .flex-mobile-row
        flex-direction: row
    .flex-mobile-column
        flex-direction: column

$IMG_SCALE_SCALE: 1.25

img.dia-img
    --margin-side: 5%
    margin: 0 var(--margin-side)
    width: calc(100% - (2 * var(--margin-side)))