.icon
  &.hamburger
    position: relative
    margin-top: 2px
    width: 15px
    height: 1px
    background-color: black
    &:after, &:before
      content: ""
      position: absolute
      left: 0
      height: 1px
      width: 15px
      background-color: black

    &:before
      top: 5px

    &:after
      top: 10px

  &.home-square
    height: 10px
    width: 10px
    margin-top: 10px
    border-radius: 2px
    border: 1px solid black
