@import "mixins/on-device"

@import "components/exam"
@import "components/footer"
@import "components/nav"
@import "components/phone"
@import "components/knn-img"
@import "components/knn-text"
@import "components/linear-regression"
@import "components/ml-layers"
@import "components/object-detection"
body
    --main-background: #188888
    margin: 0 // disable margin (background color issue)

main
    --main-item-hover-scale: 1.25
    --nav-top-position: 15px
    @extend .grid-container

    min-height: 100vh // full screen
    padding-top: calc(var(--nav-top-position))
    grid-template-rows: auto // height of nav
    grid-auto-rows: 100vh // fullscreen scenes

    place-items: center // both vertical and horizental
    place-content: center space-evenly

    background-color: var(--main-background)
    grid-template-columns: 1fr 1fr // on desktop 2 elements next to each other

    // background-image: linear-gradient(150deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5))
    // background-image: linear-gradient(150deg, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.5) 95%)
    background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.01), rgba(0,0,0,0.01), rgba(255, 255, 255, 0) 9rem)
    +on-device(desktop)
        > *:not(nav):not(#object-detection):hover
            transform: scale(var(--main-item-hover-scale))
            transition: transform .3s ease-out
            
    +on-device(mobile)
        grid-template-columns: 1fr // column on mobile
        > *
            --mobile-only-margin: 3%
            margin-left: var(--mobile-only-margin)
            margin-right: var(--mobile-only-margin)