@keyframes moving-hand
  0%, 100%
    transform: translateX(0px) translateY(0px)
  10%
    transform: translateX(-8px) translateY(10px)
  20%
    transform: translateX(11px) translateY(11px)
  30%
    transform: translateX(8px) translateY(-6px)
  40%
    transform: translateX(-2px) translateY(15px)
  50%
    transform: translateX(-3px) translateY(8px)
  60%
    transform: translateX(6px) translateY(0px)
  70%
    transform: translateX(17px) translateY(-8px)
  80%
    transform: translateX(-15px) translateY(13px)
  90%
    transform: translateX(-11px) translateY(1px)

@keyframes moving-hand-for-text
  0%, 100%
    transform: translateX(0px) translateY(0px) rotate(0deg)
  10%
    transform: translateX(-4px) translateY(5px) rotate(-1deg)
  20%
    transform: translateX(6px) translateY(5px) rotate(1deg)
  30%
    transform: translateX(4px) translateY(-3px) rotate(0deg)
  40%
    transform: translateX(-1px) translateY(7px) rotate(0deg)
  50%
    transform: translateX(-2px) translateY(4px) rotate(-1deg)
  60%
    transform: translateX(3px) translateY(0px) rotate(1deg)
  70%
    transform: translateX(8px) translateY(-4px) rotate(-1deg)
  80%
    transform: translateX(-7px) translateY(6px) rotate(0deg)
  90%
    transform: translateX(-5px) translateY(2px) rotate(1deg)
