@import "../mixins/on-device"
@import "../lib/common"

$exam-grade-border-width: 2px
$exam-grade-circle-padding: 7px

#exam
  $transform-properties: rotate(-4deg)
  +on-device(desktop)
    &:hover
      transform: scale(var(--main-item-hover-scale)) $transform-properties
  --exam-background-color: rgb(250, 250, 200)
  --exam-line-height: 31px
  --exam-top-padding: 10px
  background-color: var(--exam-background-color)
  background-image: linear-gradient(to bottom, transparent calc(var(--exam-line-height) - 1px), black 1px)
  background-position: 0px var(--exam-top-padding)
  background-size: auto var(--exam-line-height)
  @extend .grid-full-width
  line-height: var(--exam-line-height)
  transform: $transform-properties
  margin: auto 10% // element is rotated!!!
  max-width: 500px
  padding: var(--exam-top-padding) 20px
  *
    margin: 0 // Fix for line height
#exam-grade
  --exam-grade-color: red
  --exam-grade-side-distance: 2px
  background-color: var(--exam-background-color) // Hides the line
  @extend .circle-border
  border: $exam-grade-border-width solid var(--exam-grade-color)
  color: var(--exam-grade-color)
  font-size: 40px
  padding: $exam-grade-circle-padding
  float: right
  position: relative
  top: var(--exam-grade-side-distance)
  right: var(--exam-grade-side-distance)
#exam-features
  margin-left: 10%
  h3
    text-decoration: underline
  li
    list-style: circle
    &.completed
      text-decoration: line-through
#exam-footer
  align-items: center
  @extend .flex-container
  flex-wrap: wrap
  justify-content: space-around
  +on-device(desktop)
    margin-top: 100px
  img
    padding: 5px
    box-shadow: 1px 1px 5px black
    border-radius: 10px
    background-color: var(--exam-background-color)
    width: 125px
    height: auto


