@import "../lib/common"

footer
    background-color: rgba(0, 0, 0, 0.9)
    color: white
    display: flex
    align-items: center
    justify-content: space-around
    padding: 20px 0
    flex-direction: row
    a
        color: white !important
        &:not(#copyRight)
            text-decoration: unset
    #madeBy li
        display: inline-block
        margin: auto 12px

