@import "../animations/_fade.sass"

#knn-img
    // background-position-y: 50%
    // margin: 0 auto
    justify-self: stretch
    align-self: center
    // margin: 5%
    // min-height: 50%
    // background-image: url("img/classification.png")
    // background-size: contain
    // background-repeat: no-repeat
    &::after
        position: absolute
        left: 0

        display: inline-block
        content: ''
        padding: 6px
        background-color: yellow
        border: 2px solid black
        border-radius: 25%
        margin-top: 15%
        margin-left: 30%
        animation: fade 2s infinite
        animation-delay: 2s
        animation-direction: alternate
        animation-timing-function: ease-out