#linear-regression-img
    width: 100%
    justify-self: stretch
    // align-self: center
#linear-regression-text
    text-shadow: 0px 0px 0px rgba(0,0,0, 0.5) // more visible text
    font-size: 1.1em
    code
        // color: white
        font-weight: bold
        background-color: rgba(128, 128, 128, 0.3)