@import "../mixins/background-opacity"
@import "../mixins/on-device"
@import "../lib/common"


$nav-progress-dot-color: white
$nav-progress-active-color: green

$nav-progress-darkness: 0.05
$nav-progress-dot-size: 8px
$nav-progress-dot-animation-length: 1.5s

$nav-progress-dot-active-scale: 1.5
$nav-progress-dot-space: 15px

nav
    --nav-bgcolor: rgba(50, 50, 50, 0.5)
    --nav-color: white
    align-items: center
    align-self: start
    background-color: var(--nav-bgcolor)
    border-radius: 5px
    @extend .flex-container
    @extend .grid-fill-row
    justify-content: space-between
    @extend .grid-full-width
    margin: 0 8px
    padding: 5px 15px
    position: sticky
    top: var(--nav-top-position)
    z-index: 1
    @extend .flex-mobile-column
    
    .title
        color: var(--nav-color)
        font-family: "Roboto", sans-serif
        font-size: 2.2rem
    
    ul.progress
        background-color: rgba(0,0,0, $nav-progress-darkness)
        list-style: none
        min-width: 15% // width of the progress bar
        padding: 0
        +on-device(mobile)
            margin: 15px 25% 10px

        @extend .flex-container
        align-items: center
        justify-content: space-between

        li
            background-color: var(--nav-color)
            @extend .circle-border
            padding: $nav-progress-dot-size / 2
            transition: background-color $nav-progress-dot-animation-length ease-in, transform $nav-progress-dot-animation-length ease-in
            &:not(:last-child)
                margin-right: $nav-progress-dot-space
            &.active
                background-color: $nav-progress-active-color
                transform: scale($nav-progress-dot-active-scale)
