@import "../animations/moving-hand"
@import "../lib/common"
@import "../lib/icons"
@import "../mixins/on-device"

#phone-container
  z-index: 2
  $transform-properties: rotate(-10deg)
  transform: $transform-properties
  +on-device(desktop)
    &:hover
      transform: $transform-properties scale(var(--main-item-hover-scale))
#phone
  --phone-color: white
  --shadow-color: grey
  --phone-border-x: 12px
  --phone-border-y: calc(var(--phone-border-x) / 2)
  animation: moving-hand 25s ease-in-out infinite
  border-radius: 20px
  border-color: var(--phone-color)
  border-style: solid
  border-width: var(--phone-border-x) var(--phone-border-y)
  box-shadow: 2px 0px var(--shadow-color), -2px 0px var(--shadow-color), 0px 2px var(--shadow-color), 0px -2px var(--shadow-color), 12px 12px 2px 1px rgba(0, 0, 255, 0.2), inset 12px 12px 2px 1px rgba(0, 0, 255, 0.2), 12px 12px 2px 1px rgba(0, 0, 0, 0.2)
  @extend .flex-container
  @extend .flex-column
  +on-device(mobile)
    width: 280px
  width: 325px
#phone-header
  box-shadow: 1px 0px var(--phone-color), -1px 0px var(--phone-color), 0px -1px var(--phone-color) // pixel line fix
  background-color: var(--phone-color)
#phone-speaker
  background: url("img/dark_tile.png")
  border-radius: 10px
  font-size: 0px
  margin: 0px auto 5px auto
  height: 20px
  width: 120px
  &::after, &::before
    position: relative
    content: ''
    top: 50%
    background-color: black
    @extend .circle-border

  &::after
    left: 100%
    padding: 5px
  &::before
    left: -11px
    padding: 4px

#progress-bar
  @extend .flex-container
  align-items: center
  justify-content: space-between
  background-color: black
  color: var(--phone-color)
  padding: 1px 2px
  > *
    padding: 0 5px
#phone-title
  @extend .text-center
  font-size: 1.9rem
  background-color: red
#phone-display
  // box-shadow: inset 5px -2px 5px #8888ff4d, inset -2px 2px 5px #8888ff4d
  background-color: rgba(255, 255, 255, 0.25)

#phone-scan-area
  animation: moving-hand-for-text 30s ease-in-out 0.75s infinite alternate-reverse
  font-family: 'Indie Flower', cursive
  background-color: rgba(0, 0, 0, 0.25)
  @extend .flex-container
  width: 200px
  height: 12%
  +on-device(mobile)
    margin: 45% auto
  margin: 50% auto
  border: 1px solid white
  @extend .text-center
  align-items: center
  justify-content: center
  font-size: 3rem
  color: white
  overflow: hidden


#phone-result
  background-color: red
  color: white
  padding: 2px 0px 2px 10px
  font-size: 2.2rem

#phone-footer
  @extend .flex-container
  align-items: center
  justify-content: space-around
  background-color: var(--phone-color)
  box-shadow: 1px 0px var(--phone-color), -1px 0px var(--phone-color), 0px 1px var(--phone-color) // pixel line fix

#back-button
  position: relative
  top: 5px
  font-weight: 650
  font-size: 19px
  color: black
